<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>
	.retrieved {
		border: solid;
	}
</style>
</head>
<body>
	<h1>KGOTSO</h1>
	
	<form action="/book" method="post">
		<input type="text" name="id" placeholder="ID" />
		<input type="submit" value="Retrieve" />
	</form>
	<hr />
	<h2><u>Retrieved Book:</u></h2>
	<div class="retrieved">
		<span th:text="${id}">ID</span> <span th:text="${authorName}">Author Name</span> <span th:text="${bookName}">Book Name</span>
	</div>
	<br />
	<a href="/">Add Book</a>
</body>
</html>